@page "/"

@using BlazorApp.Data;
@inject IFoodService foodService;
@inject PaymentService paymentService;

@inject SingletonService singletion;
@inject TransientService transient;
@inject ScopedService scoped;

<div>
	@foreach (var food in foodService.GetFoods())
	{
		<div>@food.Name</div>
		<div>@food.Price</div>
	}
</div>

<div>
	<h1>Singletion</h1>
	Guid: @singletion.ID
	<h1>Transient</h1>
	Guid: @transient.ID
	<h1>Scoped</h1>
	Guid: @scoped.ID
</div>
@code {

	protected override void OnInitialized()
	{

	}
}
